extends layout
block content
    .container(ng-controller="sepeda.home.ctrl")
          table.table.table-stripped
              tr
                  th  Name
                  th  QTY
                  th  Price
                  th  Total
                  th
              tr(ng-repeat="row in array")
                  td  {{row.name}}
                  td  {{row.qty}}
                  td  {{row.price}}
                  td  {{row.total}}
                  td
                      a.btn.btn-danger.btn-xs(style="margin: 5px", ng-click="onBtnDeleteClicked($index, row)")
                          i.fa.fa-trash
                      a.btn.btn-primary.btn-xs(ng-click="onChooseUpdateClicked($index,row)")
                          i.fa.fa-pencil &nbsp;
                          span Update
              tr
                  td
                      input.form-control(type="text",placeholder="NAME",ng-model="name")
                  td
                      input.form-control(type="number",placeholder="QTY",ng-model="qty", ng-change="hasil()")
                  td
                      input.form-control(type="number",placeholder="PRICE",ng-model="price", ng-change="hasil()")
                  td
                      input.form-control(type="text",placeholder="total",ng-model="total",disabled)
                  td
                      a.btn.btn-success.active(ng-click="onBtnAddClicked()", ng-show="!edit")
                          i.fa.fa-magic &nbsp;
                          span Tambahkan
                      a.btn.btn-primary.active(ng-click="onBtnUpdateClicked()", ng-show="edit")
                          i.fa.fa-telegram &nbsp;
                          span Edit